flows (15).json
[
    {
        "id": "20def706ff2ff38c",
        "type": "tab",
        "label": "PLC LED Tower Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d3f4bcb61304fd50",
        "type": "inject",
        "z": "20def706ff2ff38c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "r",
        "payload": "red",
        "payloadType": "str",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "3b298a324598cc4c"
            ]
        ]
    },
    {
        "id": "1849ed6543b36ff6",
        "type": "inject",
        "z": "20def706ff2ff38c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "y",
        "payload": "yellow",
        "payloadType": "str",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "3b298a324598cc4c"
            ]
        ]
    },
    {
        "id": "494121e244ad9c07",
        "type": "inject",
        "z": "20def706ff2ff38c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "g",
        "payload": "green",
        "payloadType": "str",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "3b298a324598cc4c"
            ]
        ]
    },
    {
        "id": "40ee42e7404336f0",
        "type": "ui_svg_graphics",
        "z": "20def706ff2ff38c",
        "group": "bcd1f583e20885ce",
        "order": 0,
        "width": "20",
        "height": "20",
        "svgString": "<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" x=\"0\" y=\"0\" height=\"100%\" viewBox=\"0 0 100 100\" width=\"100%\" preserveAspectRatio=\"xMinYMin meet\"><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"100\" height=\"100\" style=\"fill:none;stroke:none\"/><defs id=\"svgEditorDefs\"><symbol xmlns=\"http://www.w3.org/2000/svg\" id=\"f863\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 512 512\"><path d=\"M352.57 128c-28.09 0-54.09 4.52-77.06 12.86l12.41-123.11C289 7.31 279.81-1.18 269.33.13 189.63 10.13 128 77.64 128 159.43c0 28.09 4.52 54.09 12.86 77.06L17.75 224.08C7.31 223-1.18 232.19.13 242.67c10 79.7 77.51 141.33 159.3 141.33 28.09 0 54.09-4.52 77.06-12.86l-12.41 123.11c-1.05 10.43 8.11 18.93 18.59 17.62 79.7-10 141.33-77.51 141.33-159.3 0-28.09-4.52-54.09-12.86-77.06l123.11 12.41c10.44 1.05 18.93-8.11 17.62-18.59-10-79.7-77.51-141.33-159.3-141.33zM256 288a32 32 0 1 1 32-32 32 32 0 0 1-32 32z\"/></symbol><symbol xmlns=\"http://www.w3.org/2000/svg\" id=\"f796\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 512 512\"><path d=\"M496 192h-48v-48c0-8.8-7.2-16-16-16h-48V80c0-8.8-7.2-16-16-16H144c-8.8 0-16 7.2-16 16v48H80c-8.8 0-16 7.2-16 16v48H16c-8.8 0-16 7.2-16 16v224c0 8.8 7.2 16 16 16h80V320h32v128h64V320h32v128h64V320h32v128h64V320h32v128h80c8.8 0 16-7.2 16-16V208c0-8.8-7.2-16-16-16z\"/></symbol><linearGradient gradientUnits=\"objectBoundingBox\" id=\"lgrd2-fire\" spreadMethod=\"pad\" x1=\"0%\" x2=\"100%\" y1=\"0%\" y2=\"0%\"><stop offset=\"0%\" style=\"stop-color:rgb(255,255,0);stop-opacity:1\"/><stop offset=\"100%\" style=\"stop-color:rgb(255,0,0);stop-opacity:1\"/></linearGradient><linearGradient gradientUnits=\"objectBoundingBox\" id=\"lrgd2-e1-repeat\" spreadMethod=\"repeat\" x1=\"20%\" x2=\"40%\" y1=\"0%\" y2=\"0%\"><stop offset=\"0%\" stop-color=\"lightblue\"/><stop offset=\"100%\" stop-color=\"#ef5b2b\"/></linearGradient><pattern height=\"10\" id=\"hatch-black-45\" patternTransform=\"rotate(45) scale(0.4)\" patternUnits=\"userSpaceOnUse\" viewBox=\"0 0 10 10\" width=\"10\" x=\"0\" y=\"0\"><line style=\"stroke:black;stroke-width:1px;\" x1=\"0\" x2=\"10\" y1=\"5\" y2=\"5\"/></pattern><pattern height=\"10\" id=\"hatch-black-120\" patternTransform=\"rotate(120) scale(0.4)\" patternUnits=\"userSpaceOnUse\" viewBox=\"0 0 10 10\" width=\"10\" x=\"0\" y=\"0\"><line style=\"stroke:black;stroke-width:1px;\" x1=\"0\" x2=\"10\" y1=\"5\" y2=\"5\"/></pattern><linearGradient gradientUnits=\"objectBoundingBox\" id=\"lgrd2-black-white\" spreadMethod=\"pad\" x1=\"0%\" x2=\"100%\" y1=\"0%\" y2=\"100%\"><stop offset=\"0%\" stop-color=\"black\"/><stop offset=\"100%\" stop-color=\"white\"/></linearGradient><symbol xmlns=\"http://www.w3.org/2000/svg\" id=\"f303\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 512 512\"><path d=\"M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z\"/></symbol><symbol xmlns=\"http://www.w3.org/2000/svg\" id=\"f72e\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 512 512\"><path d=\"M156.7 256H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h142.2c15.9 0 30.8 10.9 33.4 26.6 3.3 20-12.1 37.4-31.6 37.4-14.1 0-26.1-9.2-30.4-21.9-2.1-6.3-8.6-10.1-15.2-10.1H81.6c-9.8 0-17.7 8.8-15.9 18.4 8.6 44.1 47.6 77.6 94.2 77.6 57.1 0 102.7-50.1 95.2-108.6C249 291 205.4 256 156.7 256zM16 224h336c59.7 0 106.8-54.8 93.8-116.7-7.6-36.2-36.9-65.5-73.1-73.1-55.4-11.6-105.1 24.9-114.9 75.5-1.9 9.6 6.1 18.3 15.8 18.3h32.8c6.7 0 13.1-3.8 15.2-10.1C325.9 105.2 337.9 96 352 96c19.4 0 34.9 17.4 31.6 37.4-2.6 15.7-17.4 26.6-33.4 26.6H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16zm384 32H243.7c19.3 16.6 33.2 38.8 39.8 64H400c26.5 0 48 21.5 48 48s-21.5 48-48 48c-17.9 0-33.3-9.9-41.6-24.4-2.9-5-8.7-7.6-14.5-7.6h-33.8c-10.9 0-19 10.8-15.3 21.1 17.8 50.6 70.5 84.8 129.4 72.3 41.2-8.7 75.1-41.6 84.7-82.7C526 321.5 470.5 256 400 256z\"/></symbol><symbol xmlns=\"http://www.w3.org/2000/svg\" id=\"f2c9\" preserveAspectRatio=\"xMidYMid meet\" viewBox=\"0 0 256 512\"><path d=\"M192 384c0 35.346-28.654 64-64 64s-64-28.654-64-64c0-23.685 12.876-44.349 32-55.417V224c0-17.673 14.327-32 32-32s32 14.327 32 32v104.583c19.124 11.068 32 31.732 32 55.417zm32-84.653c19.912 22.563 32 52.194 32 84.653 0 70.696-57.303 128-128 128-.299 0-.609-.001-.909-.003C56.789 511.509-.357 453.636.002 383.333.166 351.135 12.225 321.755 32 299.347V96c0-53.019 42.981-96 96-96s96 42.981 96 96v203.347zM208 384c0-34.339-19.37-52.19-32-66.502V96c0-26.467-21.533-48-48-48S80 69.533 80 96v221.498c-12.732 14.428-31.825 32.1-31.999 66.08-.224 43.876 35.563 80.116 79.423 80.42L128 464c44.112 0 80-35.888 80-80z\"/></symbol></defs>\n<rect x=\"151.256000\" y=\"6.242840\" style=\"fill:rosybrown;stroke:black;stroke-width:1px\" id=\"e47_rectangle\" width=\"15.754800\" height=\"63.640000\" rx=\"3.88998\" ry=\"8.94674\" transform=\"matrix(0.589848 0 0 0.589848 -63.9788 10.6344)\"/><rect x=\"234.196000\" y=\"129.066000\" style=\"fill:rosybrown;stroke-width:1px\" id=\"green\" width=\"25.705000\" height=\"13.681200\" rx=\"4.8715\" ry=\"2.69475\" transform=\"matrix(0 0.589848 -0.589848 0 110.053 -101.935)\"/><rect x=\"218.442000\" y=\"129.066000\" style=\"fill:rosybrown;stroke-width:1px\" id=\"yellow\" width=\"22.802800\" height=\"13.681200\" rx=\"4.8715\" ry=\"2.69475\" transform=\"matrix(0 0.589848 -0.589848 0 110.053 -101.935)\"/><rect x=\"198.126000\" y=\"129.066000\" style=\"fill:rosybrown;stroke-width:1px\" id=\"red\" width=\"28.399900\" height=\"13.681200\" rx=\"4.8715\" ry=\"2.69475\" transform=\"matrix(0 0.589848 -0.589848 0 110.053 -101.935)\"/><g style=\"fill:#00A3A6;stroke:black;vector-effect:non-scaling-stroke;stroke-width:3px\" id=\"current\" transform=\"matrix(0.089619 0 0 0.089619 30.7352 56.8374)\"/><g style=\"fill:firebrick;stroke:black;vector-effect:non-scaling-stroke;stroke-width:2px\" id=\"power\" transform=\"matrix(0.124296 0 0 0.124296 53.9619 54.9175)\"/></svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "both",
        "zooming": "enabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": true,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "Fan Cooling",
        "x": 770,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "3b298a324598cc4c",
        "type": "function",
        "z": "20def706ff2ff38c",
        "name": "Tower Lights Control",
        "func": "let color = msg.payload\nlet state = msg.topic\n\nif(color ==='green' && state === 'g'){\nmsg.payload = [\n     {\n        command: \"update_style\",\n        selector: \"#green\",\n        attributeName: \"fill\",\n        attributeValue: \"lime\"\n    },\n]\n}\nelse if (color === 'yellow' && state === 'y') {\n    msg.payload = [\n        {\n            command: \"update_style\",\n            selector: \"#yellow\",\n            attributeName: \"fill\",\n            attributeValue: \"gold\"\n        },\n    ]\n}\nelse if (color === 'red' && state === 'r') {\n    msg.payload = [\n        {\n            command: \"update_style\",\n            selector: \"#red\",\n            attributeName: \"fill\",\n            attributeValue: \"red\"\n        },\n    ]\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 260,
        "wires": [
            [
                "40ee42e7404336f0"
            ]
        ]
    },
    {
        "id": "bcd1f583e20885ce",
        "type": "ui_group",
        "name": "Model",
        "tab": "a10fe4c6c8e927bf",
        "order": 3,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a10fe4c6c8e927bf",
        "type": "ui_tab",
        "name": "Briefcase",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]